brotli==1.2.0
fonttools==4.60.2
html5rdf==1.2.1
importlib_metadata==8.7.1
isodate==0.7.2
owlrl==7.6.2
packaging==26.3
prettytable==3.16.0
pyparsing==3.3.2
pyshacl==0.40.1
rdflib==7.6.0
wcwidth==0.8.2
zipp==3.23.1
